button.btn {
	margin-left: 10px;
}

.done small, .done strong label {
	text-decoration: line-through;
}

.create-todo-form strong {
	display: inline-block;
	padding-bottom: 25px;
}

label, input[type="checkbox"] {
	cursor: pointer;
}
